#navBar{
    display: flex;
    /* background-color: aqua; */
    justify-content: space-evenly;
    font-size: 20px;
    color: teal;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
a{
    text-decoration: none;
    cursor: pointer;
}
#formBox > h2{
    padding: 10px;
}
#formBox{
    width: 50%;
    margin: auto;
    margin-top: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
input,select{
    padding: 10px;
    display:block;
    margin: 20px;
}
#btn{
    margin: auto;
    width: 40%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}
table{
    border: 1px solid black;
}